@import "renderer/styles/variables";
@import "renderer/styles/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.app-button.btn {
  font-weight: bold;

  &.btn-outline-primary {
    @include button-outline-variant($brand-primary-color, darken($brand-primary-color, 20%), lighten($brand-primary-color, 45%), darken($brand-primary-color, 20%));

    background-color: $content-white-color;
  }

  &.btn-outline-transparent {
    background-color: transparent;
  }

  &.btn-small-font {
    font-size: $body-small-font-size;
  }

  &.btn-xs {
    @include button-size(3px, 15px, 12px, 12px, 2px);
  }

  &.btn-padded {
    padding-left: 90px;
    padding-right: 90px;
  }

  &.btn-padded-sm {
    padding-left: 45px;
    padding-right: 45px;
  }
}
