@import "renderer/styles/variables";
@import "renderer/styles/mixins";

.application-form {
  .form-group label,
  span.label {
    font-weight: bold;
    color: $content-subtle-color;
    font-size: $body-small-font-size;
    margin-bottom: 0;
  }

  span.label {
    display: block;
  }

  input.form-control {
    border: 0;
    border-bottom: 1px solid $surface-medium-color;
    border-radius: 0;
    color: $content-black-color;
    padding: 0.375rem 0;

    &.no-border {
      border-bottom: none;
    }

    &:focus {
      outline: none;
      border: 0;
      border-bottom: 1px solid $brand-subtle-color;
      box-shadow: none;

      &.no-border {
        border-bottom: none;
      }
    }

    &::placeholder {
      color: $content-light-color;
    }

    &:disabled {
      background-color: $surface-dark-color;
      padding-left: 11px;
      padding-right: 11px;
    }

    &.is-invalid:focus,
    &.is-valid:focus {
      box-shadow: none;
    }
  }

  textarea.form-control {
    &::placeholder {
      color: $content-light-color;
    }

    resize: none;
  }
}
