@import "renderer/styles/variables";

.icon.icon-refresh {
  font-size: 17px;
}

.icon.icon-install {
  font-size: 14px;
}

.update-date {
  font-size: 14px;
  color: $content-subtle-color;
}

.wrong-subscription {
  font-size: 14px;
}
