@import "renderer/styles/variables";

.config-container {
  height: 490px;
  position: relative;

  .bottom-block {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .app-version {
    display: block;
    text-align: center;
    color: $content-subtle-color;
  }

  .outlook-folder-path {
    margin-top: 6px;
    margin-left: 38px;
    font-size: 14px;
    width: 265px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $content-subtle-color;
  }
}

.text-s {
  font-size: 14px;
}
