/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-cog: unicode(ea03);
$icon-button-refresh-arrows: unicode(ea04);
$icon-desktop-monitor-download: unicode(ea05);
$icon-check-circle-1: unicode(ea06);
$icon-pencil-1: unicode(ea07);
$icon-shield-lock: unicode(ea08);

.icon-cog::before {
  content: $icon-cog;
}

.icon-button-refresh-arrows::before {
  content: $icon-button-refresh-arrows;
}

.icon-desktop-monitor-download::before {
  content: $icon-desktop-monitor-download;
}

.icon-check-circle-1::before {
  content: $icon-check-circle-1;
}

.icon-pencil-1::before {
  content: $icon-pencil-1;
}

.icon-shield-lock::before {
  content: $icon-shield-lock;
}

